@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


@layer tailwind-base, antd;
@layer tailwind-base {
    @tailwind base;
    
}
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */
html{
    font-family: "Source Sans 3", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji' !important;
}

body{
    @apply bg-systembg text-gray-700;
}

.animated-background{
    background-size: 400%;

    -webkit-animation: bg-anim 3s ease infinite;
    -moz-animation: bg-anim 3s ease infinite;
    animation: bg-anim 3s ease infinite;
}

@keyframes bg-anim {
    0%,
    100% {
        background-position: 0% 50%;
    }
    
    50% {
        background-position: 100% 50%;
    }
}

.lyric-panel-layout{
    @apply container lg:w-[50vw] lg:max-w-[600px] mx-auto;
}

.panel-title{
    @apply text-gray-500 text-[1rem];
}

.point-gradient-bg{
    @apply bg-gradient-to-r from-amber-500 to-pink-500
}


.point-gradient-bg-light{
    @apply bg-gradient-to-br to-[#ff9f7a] from-[#ec4848]
}

.global-player-control-wrapper{
    @apply w-24 bg-white/10 rounded-full;
}

.line-detail-panel h4{
    @apply text-lg font-bold !ps-0;
}

.line-detail-panel h5{
    @apply font-medium text-black !ps-0 m-0 p-0 mt-4;
}

.line-detail-panel .detail-panel-content-wrapper {
    @apply mb-8 last:mb-0;
}
.line-detail-panel p > em, .line-detail-panel p > strong{
    @apply font-normal italic text-rose-400;
}